html {
	height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
body {
	display: flex;
	align-items: center;
	height: 100%;
	background: #ebc041;
}
.wrapper {
	margin-left: 10%;
}
h1 {
	margin-bottom: 50px;

	font-weight: 400;
	font-size: 47px;
	text-transform: uppercase;
}
.timer {
	display: flex;
}
.timer__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 25px;

	font-size: 27px;
	text-transform: uppercase;
}
.days, .hours, .minutes, .seconds {
	font-size: 70px;
	font-weight: 500;
}